<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>mServlet</servlet-name>
        <servlet-class>controlador.mServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletUsu</servlet-name>
        <servlet-class>controlador.servletUsu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletEstudiantes</servlet-name>
        <servlet-class>controlador.servletEstudiantes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletReportes</servlet-name>
        <servlet-class>controlador.servletReportes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servActEst</servlet-name>
        <servlet-class>controlador.servActEst</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>mServlet</servlet-name>
        <url-pattern>/mServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletUsu</servlet-name>
        <url-pattern>/servletUsu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletEstudiantes</servlet-name>
        <url-pattern>/servletEstudiantes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletReportes</servlet-name>
        <url-pattern>/servletReportes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servActEst</servlet-name>
        <url-pattern>/servActEst</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <context-param>
        <param-name>jdbcURL</param-name>
        <param-value>
                jdbc:mysql://localhost:3306/dbbecas?autoReconnect=true&amp;useSSL=false&amp;useTimezone=true&amp;serverTimezone=UTC&amp;useUnicode=yes&amp;characterEncoding=UTF-8
        </param-value>
    </context-param>
    <context-param>
        <param-name>jdbcUSERName</param-name>
        <param-value>root</param-value>
    </context-param>
    <context-param>
        <param-name>jdbcPassword</param-name>
        <param-value>1234</param-value>
    </context-param>
</web-app>
